@import "tailwindcss";
@plugin "daisyui";
@daisyui {
  themes: ["light", "dark", "cupcake", "retro"];
}

.spin{
    animation: rotate 1s linear infinite;
    scale:1.5;
}
::-webkit-scrollbar{
  display: none;
  
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}